<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690503385345-cmvp8n898cug2992vkiikoa1n9jg0ns2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690503385345-cmvp8n898cug2992vkiikoa1n9jg0ns2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690503385345-15qdbg733vhjcao0bbc4t6nt8s4lnqh8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfKhYGSZ044DgTdQ0awL-Yu8oqnrCTXcM</string>
	<key>GCM_SENDER_ID</key>
	<string>690503385345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boilerplate</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-b8c31</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-b8c31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690503385345:ios:c1057f77967d71f2cb9b00</string>
	<key>DATABASE_URL</key>
	<string>https://myportfolio-b8c31.firebaseio.com</string>
</dict>
</plist>